.wrapper {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
}

.block {
  background: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;
  width: 450px;
  padding: 7%;
}

.block h1 {
  font: 600 20px "Inter";
  color: #5e96fc;
}
.block p {
  font: 400 16px "Inter";
  color: #232134;
  margin-top: 2%;
}

.icon {
  background-image: url(./assets/M.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 2%;
  margin-right: 2%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
